#modal-player {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
}

#media-overlay {
    background-color: black;
}

#media-info {
    overflow: scroll;
    background-color: #fff;
    word-wrap: break-word;
}

.media-info-content {
    font-size: 12px;
    padding: 2px;
}

.media-info-sub {
    margin-left: 2px;
}
