<div ng-controller="MediaModalCtrl">

    <!-- Filter modal -->
    <div modal-focus="#input-filter" id="modal-media-filter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Set filter</h3>
        </div>
        <form class="form-horizontal" name="filterForm">
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="input-filter">Filter</label>
                    <div class="controls">
                        <input ng-model="filter" type="text" id="input-filter" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                <button submit-modal="setFilter()" ng-disabled="filterForm.$invalid" class="btn btn-primary">Ok</button>
            </div>
        </form>
    </div>

    <!-- Add search modal -->
    <div ng-model="media" id="modal-media-add-search" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Add search</h3>
        </div>
        <form class="form-horizontal" name="addSearchForm">
            <div class="modal-body">
                <p>Add <strong>{{media.name}}</strong> to searches</p>

                <!-- Search mode -->
                <div class="control-group">
                    <label class="control-label" for="input-mode">Search mode</label>
                    <div class="controls">
                        <select ng-model="media.mode" required>
                            <option ng-repeat="m in modes" ng-selected="m == media.mode" value="{{m}}">{{modesNames[m]}}</option>
                        </select>
                    </div>
                </div>

                <!-- Langs -->
                <ng-switch on="inArray(media.category, ['movies', 'tv', 'anime', 'books', 'games'])">
                    <div ng-switch-when="true" class="control-group">
                        <label class="control-label" for="input-langs">Language restriction</label>
                        <div class="controls">
                            <select ng-model="media.langs" id="input-langs" multiple="multiple">
                                <option ng-repeat="l in langs" ng-selected="inArray(l, media.langs)" value="{{l}}">{{langsNames[l]}}</option>
                            </select>
                        </div>
                    </div>
                </ng-switch>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button submit-modal="addSearch()" ng-disabled="addSearchForm.$invalid" class="btn btn-primary">Ok</button>
            </div>
        </form>
    </div>

    <!-- Add similar modal -->
    <div ng-model="media" id="modal-media-add-similar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Add similar search</h3>
        </div>
        <form class="form-horizontal" name="addSimilarForm">
            <div class="modal-body">
                <p>Add <strong>{{media.name}}</strong> to similar searches</p>

                <!-- Recurrence -->
                <div class="control-group">
                    <label class="control-label" for="input-recurrence">Search recurrence</label>
                    <div class="controls">
                        <input ng-model="media.recurrence" class="span1" type="number" min="24" max="9999" id="input-recurrence" required><span class="add-on"> hours</span>
                    </div>
                </div>

                <!-- Langs -->
                <ng-switch on="inArray(media.category, ['movies', 'tv', 'anime', 'books', 'games'])">
                    <div ng-switch-when="true" class="control-group">
                        <label class="control-label" for="input-langs">Language restriction</label>
                        <div class="controls">
                            <select ng-model="media.langs" id="input-langs" multiple="multiple">
                                <option ng-repeat="l in langs" ng-selected="inArray(l, media.langs)" value="{{l}}">{{langsNames[l]}}</option>
                            </select>
                        </div>
                    </div>
                </ng-switch>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button submit-modal="addSimilar()" ng-disabled="addSimilarForm.$invalid" class="btn btn-primary">Ok</button>
            </div>
        </form>
    </div>

    <!-- Update search modal -->
    <div ng-model="media" id="modal-search-update" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Update {{media.type}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="updateSearchForm">

                <!-- Category -->
                <div class="control-group">
                    <label class="control-label" for="input-category">Category</label>
                    <div class="controls">
                        <select ng-model="media.obj.category" required>
                            <option value="movies">Movie</option>
                            <option value="tv">TV show</option>
                            <option value="anime">Anime</option>
                            <option value="music">Music album</option>
                            <option value="books">Book</option>
                            <option value="games">Game</option>
                        </select>
                    </div>
                </div>

                <!-- Name -->
                <div class="control-group">
                    <ng-switch on="media.obj.category">
                        <label ng-switch-when="movies" class="control-label" for="input-name">Movie</label>
                        <label ng-switch-when="tv" class="control-label" for="input-name">TV show</label>
                        <label ng-switch-when="music" class="control-label" for="input-name">Band</label>
                        <label ng-switch-when="anime" class="control-label" for="input-name">Anime</label>
                        <label ng-switch-default class="control-label" for="input-name">Name</label>
                    </ng-switch>
                    <div class="controls">
                        <input ng-model="media.obj.name" type="text" id="input-name" required>
                    </div>
                </div>

                <!-- Album -->
                <ng-switch on="media.obj.category">
                    <div ng-switch-when="music" class="control-group">
                        <label class="control-label" for="input-album">Album</label>
                        <div class="controls">
                            <input ng-model="media.obj.album" type="text" id="input-album" required>
                        </div>
                    </div>
                </ng-switch>

                <!-- Season and episode -->
                <ng-switch on="inArray(media.obj.category, ['tv', 'anime'])">
                    <div ng-switch-when="true">
                        <div class="control-group">
                            <label class="control-label" for="input-season">Season</label>
                            <div class="controls">
                                <input ng-model="media.obj.season" class="span1" type="number" min="1" max="999" id="input-season" ng-required="inArray(media.obj.category, ['tv'])">
                            </div>
                        </div>
                        <div ng-show="inArray(media.obj.category, ['tv', 'anime'])" class="control-group">
                            <label class="control-label" for="input-episode">Episode</label>
                            <div class="controls">
                                <input ng-model="media.obj.episode" class="span1" type="number" min="1" max="9999" id="input-episode" ng-required="inArray(media.obj.category, ['tv', 'anime'])">
                            </div>
                        </div>
                    </div>
                </ng-switch>

                <!-- Search mode -->
                <div class="control-group">
                    <label class="control-label" for="input-mode">Search mode</label>
                    <div class="controls">
                        <select ng-model="media.obj.mode" required>
                            <option ng-repeat="m in modes" ng-selected="m == media.obj.mode" value="{{m}}">{{modesNames[m]}}</option>
                        </select>
                    </div>
                </div>

                <!-- Langs -->
                <ng-switch on="inArray(media.obj.category, ['movies', 'tv', 'anime', 'books', 'games'])">
                    <div ng-switch-when="true" class="control-group">
                        <label class="control-label" for="input-langs">Language restriction</label>
                        <div class="controls">
                            <select ng-model="media.obj.langs" id="input-langs" multiple="multiple">
                                <option ng-repeat="l in langs" ng-selected="inArray(l, media.obj.langs)" value="{{l}}">{{langsNames[l]}}</option>
                            </select>
                        </div>
                    </div>
                </ng-switch>

                <!-- Safe -->
                <div class="control-group">
                    <label class="control-label" for="input-safe">Safe</label>
                    <div class="controls">
                        <input ng-model="media.obj.safe" class="span1" type="checkbox" id="input-safe">
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button submit-modal="updateSearch()" ng-disabled="updateSearchForm.$invalid" class="btn btn-primary">Save</button>
        </div>
    </div>

    <!-- Update similar modal -->
    <div ng-model="media" id="modal-similar-update" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Update {{media.type}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="updateSimilarForm">

                <!-- Category -->
                <div class="control-group">
                    <label class="control-label" for="input-category">Category</label>
                    <div class="controls">
                        <select ng-model="media.obj.category" required>
                            <option value="movies">Movie</option>
                            <option value="tv">TV show</option>
                            <option value="music">Music album</option>
                        </select>
                    </div>
                </div>

                <!-- Name -->
                <div class="control-group">
                    <ng-switch on="media.obj.category">
                        <label ng-switch-when="movies" class="control-label" for="input-name">Movie</label>
                        <label ng-switch-when="tv" class="control-label" for="input-name">TV show</label>
                        <label ng-switch-when="music" class="control-label" for="input-name">Band</label>
                        <label ng-switch-when="anime" class="control-label" for="input-name">Anime</label>
                        <label ng-switch-default class="control-label" for="input-name">Name</label>
                    </ng-switch>
                    <div class="controls">
                        <input ng-model="media.obj.name" type="text" id="input-name" required>
                    </div>
                </div>

                <!-- Recurrence -->
                <div class="control-group">
                    <label class="control-label" for="input-recurrence">Search recurrence</label>
                    <div class="controls">
                        <input ng-model="media.obj.recurrence" class="span1" type="number" min="24" max="9999" id="input-recurrence" required><span class="add-on"> hours</span>
                    </div>
                </div>

                <!-- Langs -->
                <ng-switch on="inArray(media.obj.category, ['movies', 'tv', 'anime', 'books', 'games'])">
                    <div ng-switch-when="true" class="control-group">
                        <label class="control-label" for="input-langs">Language restriction</label>
                        <div class="controls">
                            <select ng-model="media.obj.langs" id="input-langs" multiple="multiple">
                                <option ng-repeat="l in langs" ng-selected="inArray(l, media.obj.langs)" value="{{l}}">{{langsNames[l]}}</option>
                            </select>
                        </div>
                    </div>
                </ng-switch>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button submit-modal="updateSimilar()" ng-disabled="updateSimilarForm.$invalid" class="btn btn-primary">Save</button>
        </div>
    </div>

    <!-- Reset search modal -->
    <div id="modal-media-reset-search" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Reset search</h3>
        </div>
        <form class="form-horizontal" name="resetSearchForm">
            <div class="modal-body">
                <p>Reset <strong>{{media.name}}</strong> search</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                <button submit-modal="resetSearch()" ng-disabled="resetSearchForm.$invalid" class="btn btn-primary">Ok</button>
            </div>
        </form>
    </div>

    <!-- Share media modal -->
    <div modal-focus="#input-user" id="modal-media-share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Share {{media.type}}</h3>
        </div>
        <form class="form-horizontal" name="shareMediaForm">
            <div class="modal-body">
                <p>Share <strong>{{media.name}}</strong> with:</p>
                <div class="control-group">
                    <label class="control-label" for="input-user">User</label>
                    <div class="controls">
                        <select ng-model="user" ng-options="u.name for u in users" id="input-user" required></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input-path">Path</label>
                    <div class="controls">
                        <input ng-model="userPath" type="text" id="input-path" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button submit-modal="shareMedia()" ng-disabled="shareMediaForm.$invalid" class="btn btn-primary">Ok</button>
            </div>
        </form>
    </div>

    <!-- Remove media modal -->
    <div ng-model="media" id="modal-media-remove" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Remove {{media.type}}</h3>
        </div>
        <form class="form-horizontal" name="removeMediaForm">
            <div class="modal-body">
                <p>Are you sure you want to remove <strong>{{media.name}}</strong> ?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button submit-modal="removeMedia()" ng-disabled="removeMediaForm.$invalid" class="btn btn-danger">Ok</button>
            </div>
        </form>
    </div>

    <!-- Remove media multi modal -->
    <div id="modal-media-multi-remove" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Remove {{type.value}} items</h3>
        </div>
        <form class="form-horizontal" name="removeMediaMultiForm">
            <div class="modal-body">
                <p>Are you sure you want to remove:</p>
                <ul>
                    <li ng-repeat="m in listSelect"><strong>{{m.name}}</strong></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button submit-modal="removeMediaMulti()" ng-disabled="removeMediaMultiForm.$invalid" class="btn btn-danger">Ok</button>
            </div>
        </form>
    </div>

</div>
