<div player-actions ng-controller="PlayerCtrl" id="modal-player" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div youtube-api></div>

    <!-- Media overlay -->
    <div id="media-overlay" class="media-image">
        <div id="player"></div>
    </div>

    <!-- Media info -->
    <div id="media-info">
        <div class="media-info-content">

            <!-- Actions -->
            <div class="pull-right player-actions">
                <button player-previous class="btn btn-mini btn-inverse"><i class="icon-step-backward icon-white"></i></button>
                <button player-next class="btn btn-mini btn-inverse"><i class="icon-step-forward icon-white"></i></button>
                <button player-remove ng-show="media.type != 'release'" class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i></button>
            </div>

            <!-- General -->
            <span class="label label-inverse">general</span>
            <div class="media-info-sub">
                <ul class="unstyled">
                    <li><strong>name:</strong> <span class="capitalize">{{media.name}}</span></li>
                    <li><strong>category:</strong> {{media.category}}</li>
                    <li><strong>date:</strong> {{media.date | ifDate}}</li>

                    <li ng-show="exists(media.subtitles)"><strong>subtitles:</strong> <span>{{media.subtitles | ifList}} </span></li>

                    <li ng-show="!!media.release"><strong>release:</strong> {{media.release}}</li>

                    <li ng-show="!!media.source"><strong>source:</strong> {{media.source}}</li>

                    <li ng-show="!!media.obj.similar_name"><strong>source similar:</strong> {{media.obj.similar_name}}</li>

                    <span ng-show="!!media.obj.session">
                        <li>
                            <strong>first search:</strong>
                            <span ng-show="!!media.obj.session.first_search"> {{media.obj.session.first_search | ifDate}}</span>
                         </li>
                        <li>
                            <strong>last search:</strong>
                            <span ng-show="!!media.obj.session.last_search"> {{media.obj.session.last_search | ifDate}}</span>
                         </li>
                    </span>

                </ul>
            </div>

            <!-- Files -->
            <div ng-show="!!media.paths.length">
                <span class="label label-inverse">files</span>
                <div class="media-info-sub">
                    <ul class="unstyled">
                        <li ng-repeat="path in media.paths">{{path}}</li>
                    </ul>
                </div>
            </div>

            <!-- URLs -->
            <div ng-show="!!media.urls.length">
                <span class="label label-inverse">play</span>
                <div class="media-info-sub">
                    <ul class="unstyled">
                        <li ng-repeat="url in media.urls"><a href="{{url}}" target="_blank">{{url | truncate:60}}</a></li>
                    </ul>
                </div>
            </div>

            <ul ng-repeat="(key, val) in media.extra" class="unstyled">
                <li>
                    <span class="label label-inverse">{{key}}</span>
                    <div class="media-info-sub">
                        <ul ng-repeat="(key2, val2) in val" class="unstyled">
                            <ng-show="!!val2">
                                <ng-switch on="key2">
                                    <li ng-switch-when="url"><a href="{{val2}}" target="_blank">Link</a></li>
                                    <li ng-switch-default><strong>{{key2}}: </strong><span class="capitalize">{{val2 | ifList}}</span></li>
                                </ng-switch>
                            </ng-show>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </div>

</div>
