<div ng-controller="SyncModalCtrl">

    <!-- Update sync modal -->
    <div ng-model="sync" id="modal-sync-update" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Update sync</h3>
        </div>
        <form class="form-horizontal" name="updateSyncForm">
            <div class="modal-body">

                <!-- Category -->
                <div class="control-group">
                    <label class="control-label" for="inputCategory">Category</label>
                    <div class="controls">
                        <select ng-model="sync.category" id="inputCategory" required>
                            <option value="movies">Movies</option>
                            <option value="tv">TV shows</option>
                            <option value="music">Music albums</option>
                        </select>
                    </div>
                </div>

                <!-- Genres -->
                <div ng-repeat="filter in ['genre_incl', 'genre_excl']">
                    <div class="control-group">
                        <label class="control-label">{{filterNames[filter]}}</label>
                        <div class="controls controls-row">
                            <div ng-repeat="genre in sync.parameters[filter]" class="input-append">
                                <input ng-model="genre.val" class="span1" type="text">
                                <a href="" ng-click="sync.parameters[filter].splice($index, 1)" class="add-on"><i class="icon-remove"></i></a>
                            </div>
                            <a class="btn" href="" ng-click="sync.parameters[filter].push({})"><i class="icon-plus"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Limits -->
                <div class="control-group">
                    <label class="control-label" for="inputCountLimit">Count limit</label>
                    <div class="controls">
                        <input ng-model="sync.parameters.count_max" class="span1" type="number" min="1" max="9999" id="inputCountLimit" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputSizeLimit">Size limit</label>
                    <div class="controls">
                        <input ng-model="sync.parameters.size_max" class="span1" type="number" min="100" max="999999" id="inputSizeLimit" required><span class="add-on"> MB</span>
                    </div>
                </div>

                <!-- Destination -->
                <div class="control-group">
                    <label class="control-label" for="inputUser">Destination user</label>
                    <div class="controls">
                        <select ng-model="user" ng-options="u.name for u in users" id="inputUser" required></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPath">Destination directory</label>
                    <div class="controls">
                        <input ng-model="sync.dst" type="text" id="inputPath" required>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button submit-modal="updateSync()" ng-disabled="updateSyncForm.$invalid" class="btn btn-danger">Save</button>
            </div>
        </form>
    </div>

    <!-- Reset sync modal -->
    <div ng-model="sync" id="modal-sync-reset" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Reset sync</h3>
        </div>
        <form class="form-horizontal" name="resetSyncForm">
            <div class="modal-body">
                <p>Are you sure you want to reset <strong>{{sync.name}}</strong> ?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button submit-modal="resetSync()" ng-disabled="resetSyncForm.$invalid" class="btn btn-danger">Ok</button>
            </div>
        </form>
    </div>

    <!-- Remove sync modal -->
    <div ng-model="sync" id="modal-sync-remove" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Remove sync</h3>
        </div>
        <form class="form-horizontal" name="removeSyncForm">
            <div class="modal-body">
                <p>Are you sure you want to remove <strong>{{sync.name}}</strong> ?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button submit-modal="removeSync()" ng-disabled="removeSyncForm.$invalid" class="btn btn-danger">Ok</button>
            </div>
        </form>
    </div>

</div>
